{% if popup.cabinetPopup %}
  <div class="cabinet-popup js-cabinet-popup">
    <ul class="cabinet-popup__list">
      <li class="cabinet-popup__item">
        <a href="#" class="cabinet-popup__link">Мой профиль</a>
      </li>
      <li class="cabinet-popup__item">
        <a href="#" class="cabinet-popup__link">Активные заказы</a>
      </li>
      <li class="cabinet-popup__item">
        <a href="#" class="cabinet-popup__link">Завершенные заказы</a>
      </li>
      <li class="cabinet-popup__item">
        <a href="#" class="cabinet-popup__link">Отложенные заказы</a>
      </li>
      <li class="cabinet-popup__item">
        <a href="#" class="cabinet-popup__link">Избранное</a>
      </li>
    </ul>
    <button class="cabinet-popup__exit-btn btn">Выйти</button>
  </div>
{% elseif popup.sign %}
  <div id="{{ popup.id }}" class="popup {{ popup.class }} {{ popup.active }}">
    <div class="popup__wrap">
      <button class="popup__btn-close" onclick="Swal.close(); return false;">
        <svg class="popup__close-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#popup-close"></use>
        </svg>
      </button>
      <div class="popup__icon-wrap">
        <svg class="popup__icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#popup-success"></use>
        </svg>
      </div>
      <div class="popup__title">{{ popup.title }}</div>

      {% if popup.isSubtitle %}
        <div class="popup__subtitle">
          {{ popup.subtitleText }}
        </div>
      {% endif %}

      <form action="/" class="popup__form" autocomplete="off">
        {% if popup.isEmail %}
          <input class="popup-input" type="text" name="email" placeholder="Введите email">
        {% endif %}

        {% if popup.isName %}
          <input class="popup-input" type="text" name="name" placeholder="{{ popup.placeholderName }}">
        {% endif %}

        {% if popup.isPhone %}
          <input class="popup-input phone" type="text" name="phone" placeholder="{{ popup.placeholderPhone }}">
        {% endif %}

        {% if popup.isPassw %}
          <div class="popup__passw-block js-passw-wrap">
            <input class="popup-input popup__passw-input" type="password" name="passw" placeholder="{{ popup.placeholderPassw }}">
            <button class="passw-toggle js-passw-toggle" type="button">
              <svg class="passw-icon" viewBox="0 0 100 100">
                <use xlink:href="./assets/images/sprite.svg#show-passw"></use>
              </svg>
            </button>
          </div>
        {% endif %}

        {% if popup.repeatPassw %}
          <div class="popup__passw-block js-passw-wrap">
            <input class="popup-input" type="password" name="passw_repeat" placeholder="Повторите пароль">
            <button class="passw-toggle js-passw-toggle" type="button">
              <svg class="passw-icon" viewBox="0 0 100 100">
                <use xlink:href="./assets/images/sprite.svg#show-passw"></use>
              </svg>
            </button>
          </div>
        {% endif %}

        {% if popup.forgetPassw %}
          <a class="popup__forget-link js-forget-btn" href="#">Забыли пароль?</a>
        {% endif %}

        <button class="popup__btn" type="submit">{{ popup.btnText }}</button>
      </form>

      {% if popup.noAcc %}
        <div class="popup__noacc-block">
          <div class="popup__noacc-title">Еще нет аккаунта?</div>
          <a class="popup__noacc-link btn js-noacc-btn" href="#">Зарегистрироваться</a>
        </div>
      {% endif %}
    </div>
  </div>
{% elseif popup.ordering %}
  <div id="{{ popup.id }}" class="popup {{ popup.class }} {{ popup.active }}">
    <div class="popup__wrap">
      <button class="popup__btn-close" onclick="Swal.close(); return false;">
        <svg class="popup__close-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#popup-close"></use>
        </svg>
      </button>
      <div class="popup__icon-wrap">
        <svg class="popup__icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#popup-success"></use>
        </svg>
      </div>
      <div class="ordering-popup__content">
        <div class="ordering-popup__title">{{ popup.title }}</div>
        <div class="ordering-popup__subtitle">от 28.04.2020 13:37:16 </div>
        <div class="ordering-popup__title ordering-popup__title--green">Успешно оформлен</div>
      </div>
      <div class="ordering-popup__subtitle ordering-popup__bottom-text">
        В ближайшее время с Вами свяжется наш менеджер для подтверждения заказа.
      </div>
      <button class="popup__btn" onclick="Swal.close(); return false;">{{ popup.btnText }}</button>
    </div>
  </div>
{% endif %}