<ul class="socials">
  <li class="socials__social">
    <a href="#" class="socials__social-link socials__social-link--{{ social.background }}">
      <svg class="socials__social-icon socials__social-icon--{{ social.color }}" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#vk"></use>
      </svg>
    </a>
  </li>
  <li class="socials__social">
    <a href="#" class="socials__social-link socials__social-link--{{ social.background }}">
      <svg class="socials__social-icon socials__social-icon--{{ social.color }}" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#insta"></use>
      </svg>
    </a>
  </li>
  <li class="socials__social">
    <a href="#" class="socials__social-link socials__social-link--{{ social.background }}">
      <svg class="socials__social-icon socials__social-icon--{{ social.color }}" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#fb"></use>
      </svg>
    </a>
  </li>
</ul>
